* {
    margin: 0;
    padding: 0;
 }

 body {
    font-size: 15px;
    background-image: linear-gradient(to right bottom, #f9e5bc, #e2dbb1, #ccd0a8, #b7c5a0, #a2ba9a, #90b095, #80a590, #719a8b, #628e85, #54827f, #497579, #3f6971);
 }

.containerTransparency{
    background: rgba(255,255,255,0.3);
    border-radius: 25px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: justify;
}

#name {
    margin-top: 15px;
    margin-left: 15px;
    font-style: oblique;
}

#pro-pic {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

#intro-mobile {
    display: flex;
    flex-direction: column;
}

.intro-content {
    display: flex;
    flex-direction: row;
}

#name-nav {
    font-size: 1.2rem;
    justify-content: space-between;
}

#introSection {
    justify-content: space-around;
    align-items: center;
    margin: 0 10vw;
}

.signoff{
    font-size: 10px;
    margin-bottom: 2px;
    margin-left: 2px;
    position: fixed;
    bottom: 0;
    background-color: white;
}

 /* use rem for fonts to auto-resize when window resizes */